@import "../node_modules/bulma/bulma";

body {
  font-family: 'Archivo Narrow', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #747572;

  & + p {
     margin-top: 1em;
  }
}

.footer {
  background-color: #1B1B1E; 

  p {
    font-style: initial;
    font-family: 'Archivo Narrow', sans-serif;
    color: #747572;
  }

  strong {
    color: #fff;
  }
}

.navbar {
  background: transparent;
}

#SmashIpsum {
  margin-bottom: .75rem;
}

.title {
  color: #1B1B1E;
}

#settings #numbers {
  margin-top: 1.5rem;
}

label {
  > input[type="checkbox"] {
    & + span {
      color: #D8DBE2;
    }

    &:checked + span {
      color: #747572;
    }
  }
}

.navbar-burger {
  border: none;

  &:hover {
    background: transparent;

    span {
      background: black;
    }
  }

  span {
    background: #d8dbe2;
  }
}