$color-main: #2AF5FF;
$color-dark: #1C1F21;
$color-lite: #fff;
$color-lite: #F4F5F6;

$screen-tablet: 800px;
$screen-desktop: 1080px;

$font-main: 'Merriweather', serif;
$font-alt: 'IBM Plex Mono', monospace;

$transition-timing-function: ease-out;
$transition-duration: 250ms;
