@import '~antd/dist/antd.css';
@import 'variables';
@import 'mixins';
@import './vendor-styles/all';

body {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: $color-lite;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  color: $color-lite;
  font-weight: 900;
  @include standard-transition(color);

  .lite-mode & {
    color: $color-dark;
  }
}

a {
  @include link-style;
}
