@import '../../variables';
@import '../../mixins';

.settings {
  $e : &;
  @include base;
  color: $color-lite;
  background-color: $color-dark;

  &__container {
    @include container;
  }

  &__content {
    margin-top: 2em;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & + & {
      margin-top: 2em;
    }

    &--games {
      @include tablet {
        #{$e}__instance {
          width: calc((100% - 40px) / 3);

          &:nth-child(n+4) {
            margin-top: 2em;
          }
        }
      }

      @include desktop {
        #{$e}__instance {
          width: calc((100% - 100px) / 6);

          &:nth-child(n+4) {
            margin-top: 0;
          }
        }
      }
    }

    &--general {
      @include tablet {

        #{$e}__instance {
          width: calc((100% - 20px) / 2);

          &:nth-child(n+3) {
            margin-top: 2em;
          }
        }
      }

      @include desktop {

        #{$e}__instance {
          width: calc((100% - 40px) / 3);

          &:nth-child(n+3) {
            margin-top: 0em;
          }

          &:nth-child(n+4) {
            margin-top: 2em;
          }
        }
      }
    }
  }

  &__instance {
    $e: &;
    display: flex;
    flex-wrap: wrap;

    &__title {
      @include label;

      flex: 0 0 100%;
    }

    .ant-input-number {
      width: 100%;
    }

    .ant-checkbox-wrapper {
      margin: 0;
      flex: 1;

      @include tablet {
        + .ant-checkbox-wrapper {
          margin-top: .5em;
        }
      }
    }

    @include tablet {

      flex-direction: column;
      flex-wrap: nowrap;

      &__title {
        flex: 0 0 0;
      }
    }

    & + & {
      margin-top: 1.5em;

      @include tablet {
        margin-top: 0;
      }
    }
  }

  &.lite-mode {
    background-color: $color-lite;
  }
}
