@import '../../variables';

.ipsum {
  $base : &;
  @include base;
  color: $color-lite;
  background-color: $color-dark;

  &__container {
    @include container;
  }

  &__content {
    margin-top: 2em;
    font-style: italic;
    font-size: 1.1em;
  }

  pre {
    font-family: $font-main;
    overflow: hidden;
    white-space: pre-wrap;
  }

  &__cta-container {
    margin-top: 2em;
    text-align: center;
    position: relative;
  }

  &__cta {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: 1em;

      @include tablet {
        margin-top: 0;
        margin-left: auto;
      }
    }

    &--copy {
      @include tablet {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &.lite-mode {
    color: $color-dark;
    background-color: $color-lite;
  }
}
