@import '../../variables';

.ipsum {
  $e : &;

  @include container;
  @include base;

  &__content {
    margin-top: 2em;
    font-size: 1.1rem;
  }

  &__cta {
    margin-top: 2em;
    text-align: center;
  }
}