@import '../../variables';

.footer {
  .container {
    @include container;
  }
  
  @include label;
  text-align: right;
  background-color: $color-dark;
  color: $color-lite;
  border-top: 2px solid $color-main;
}