@import '../../variables';

.footer {
  @include layout-base;
  @include label;
  margin: 0;
  text-align: right;
  background-color: $color-dark;
  color: $color-lite;
  border-top: 2px solid $color-main;
  margin-top: 2.5rem;

  &__container {
    @include container;
  }

  .lite-mode & {
    background-color: $color-lite;
    color: $color-dark;
  }
}
