@import '../../variables';
@import '../../mixins';

.footer {
  @include standard-transition(background-color, color);
  @include label;
  padding: 0;
  margin: 0;
  text-align: right;
  background-color: $color-dark;
  color: $color-lite;

  &__inner {
    @include layout-base;
    margin-top: 2.5rem;
    border-top: 2px solid $color-main;
  }

  &__container {
    @include container;
  }

  &.lite-mode {
    background-color: $color-lite;
    color: $color-dark;
  }
}
