@import '../../variables';
@import '../../mixins';

.header {
  $base : &;
  @include layout-base;
  @include label;
  text-align: right;
  background-color: $color-dark;
  color: $color-lite;
  height: 100%;
  line-height: 1;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include link-style;
    border: none;
    background-color: transparent;
    margin-left: 2em;

    &:first-child {
      margin-left: 0;
    }
  }

  &__home-link {
    color: $color-lite;

    span {
      color: $color-main;
    }

    &:hover,
    &:focus {
      color: $color-lite;
    }

    &:after {
      display: none;
    }
  }

  &.lite-mode {
    background-color: $color-lite;
    color: $color-dark;

    #{$base}__home-link {
      color: $color-dark;
    }
  }
}
